*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'sans-serif';    
}

body{
    background: #1F2123;  

}

header{
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    height: auto;
    position: fixed;
    width: 100%;
    z-index: 1;  
    background: radial-gradient(circle, #1F2123, rgb(12, 12, 12));  
}

header .title{
    font-size: 1.8rem;
    color: #3FA0EF;
    font-weight: bold;
}

header nav{
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-shrink: 5;
}

header nav a{
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.5s ease;
    transition: border-radius 0.5s ease;
    transition: padding 0.5s ease, color 0.5s ease;
    color:#3FA0EF;
    font-weight: bold;

}

header nav a:active{
    color: skyblue;
}

header nav a:hover{
    text-decoration: none;
    color: skyblue;
    border-radius: 10%;
    padding: 0.1rem;
    cursor: pointer;

}

.intro-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex: 0.7;
    height: 100px;
    padding: 8rem 8rem;
    margin-top: 6rem;
}

.intro-sub-1 h2{
    font-size: 9vh;
    color: rgb(228, 228, 228);       
          
}

.intro-sub-1 p{
    color: #0b7fec;
    font-size: 4vh;       
}



.typing-text{
    color: #3FA0EF;
}


.intro-sub-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0rem 1rem;
}

.intro-sub-2{
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
}

.pfp{
    border-radius: 10%;
    width: 40vh;
    max-width: 220px;
    aspect-ratio: 1/1;
}

.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 1rem;
}

.link-container a{
    color: #3FA0EF;
    background: transparent;
    padding: 0;
    margin: 0;
    transition: color 0.7s ease;
}

.link-container .github-icon:hover{
    color: skyblue;
}

.link-container .linkedin-icon:hover{
    color: skyblue;
}

.experience-section{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;


}

.experience-section > h2{
    text-align: center;
    font-size: 4rem;
    color: #3FA0EF;
}  

.experience-section .cards-container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: rgb(228, 228, 228);       


}

.experience-section .card{
    border-radius: 20px;
    transition: box-shadow 0.6s ease, transform 0.6s ease;
    width:900px;
    max-width: 100%;
    overflow: hidden;
    border: 2px solid black;
    
}

.card:hover{
    box-shadow: 3px 3px 9px #0b7fec;
    transform: translate(5px,5px);
}

.experience-section .card .img-container{      
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-section img{
    width: 85%;
    max-height: 60vh;
    padding: 0.3rem;
}



.experience-section .card .info{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
} 

.experience-section .card .role-info{
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
} 

.experience-section .card .date-info{
    color: rgb(228, 228, 228);       
} 

.experience-section .card .description{
    padding: 0 1.5rem 1rem 2rem;
} 

.experience-section .card .description li{
    padding: 0.1rem;
} 


.projects-section{
    margin-top: 2rem;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;


}

.projects-section > h2{
    text-align: center;
    font-size: 4rem;
    color: #3FA0EF;
}  

.projects-section .cards-container{
    display: flex;
    flex-direction: column;
    gap: 6rem;

}

.projects-section .card{
    border: 2px solid black;
    border-radius: 20px;
    transition: box-shadow 0.6s ease, transform 0.6s ease;
    width:900px;
    max-width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    color: rgb(228, 228, 228);       
}

.projects-section .card .info{
    padding:1rem;
    flex: 1;
}

.projects-section .card .info h2{
    text-align: center;
    margin-bottom: 20px;
}

.projects-section .card .info p{

}

.projects-section .card .img-container{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    max-width: 50%;
    max-height:100%;
    overflow: hidden;
}

.projects-section .card .img{
    max-height: 100%;
    max-width: 100%;

}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    font-size: 1rem;
    padding: 1rem;
    color: rgb(228, 228, 228);
    background: radial-gradient(circle, #1F2123, rgb(12, 12, 12));  

}

.footer a{
    color: #3FA0EF
}

.footer i{
    color: skyblue;

}







